<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vacation Rentals - Listing</title>
  <script src="listing.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="container-header">
    <div class="header">
      <div class="logo">
        <img src="images/thumb_logo.png" alt="logo image" />
      </div>
      <div class="menu">
        <div class="dropdown">
          <button class="dropbtn" id="set-radius"><a href="/">Home Page</a></button>   
        </div>

        <div class="dropdown">
          <button class="dropbtn" id="set-a"><a href="listing.html">Room Listing</a></button>    
        </div>

        <div class="dropdown">
          <button class="dropbtn">Magazines</button>
          <div class="dropdown-content">
            <a href="#">Vacalion Magazine</a>
            <a href="#">Sweet Home</a>
            <a href="#">Ontario Life</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="set-a"><a href="register.html">Register</a></button>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="set-radius-2"><a href="#">Contact Us</a></button>
          <div class="dropdown-content">
          </div>
        </div>

        <div class="account">
          <a href="register.html">
            <img src="images/user.png" alt="login image" />
            <span class="tooltiptext">Login</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="heading">
        <h2>Featured List</h2>
        <p>rooms and rooms</p>
      </div>
      <div class="product-item"></div>
      <div class="viewall-button">
        <a href="#">List More</a>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-banner">
      <div class="footer-text">
        <h3>Vacalion</h3>
        <p>Vacation Rentals</p>
      </div>

      <div class="footer-titles">
        <ul>
          <li><a href="#">Get Help</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Social Media</a></li>
        </ul>
      </div>
      <p class="inc-rights">© 2020 Vacalion, Inc. All Rights Reserved</p>
    </div>
  </div>
</body>

</html>